# Dependency directories
node_modules/

# Build outputs
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db